%p
- @node.parents.each do |parent|
  %a{ :title => parent.label, :href => profile_node_path( @profile, parent ) }
    = parent.info
  != '&nbsp;'
%br
|
%br
v
%br
%h3{ :title => @node.label }
  = @node.info
|
%br
v
%br
- @node.children.each do |child|
  %a{ :title => child.label, :href => profile_node_path( @profile, child ) }
    = child.info
  != '&nbsp;'
%br
