%p
- @node.parents.each do |parent|
  = link_to( parent.info, parent )
  != '&nbsp;'
%br
|
%br
v
%br
%h3
  = @node.info
|
%br
v
%br
- @node.children.each do |child|
  = link_to( child.info, child )
  != '&nbsp;'
%br
